*, html, body {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}


body{
    background-color: #efefef;
    width: 100%;
    height: fit-content;
    display: flex;
    padding-block: 30px;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.get-location {
    width: 70%;
    height: fit-content;
    background-color: #fff;
    border: 1px solid darkgrey;
    border-radius: 10px;
    box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.44);
}

.head h2  {
    text-align: center;
    padding-block: 20px;
    font-size: 20px;
}

.get-location .btn-1 {
    border: 1px solid;
    padding: 20px;
    display: flex;
    justify-content: center;
    margin-block: 20px;
}

.get-location .btn-1 button {
    padding: 8px 20px;
    background-color: rgba(95, 158, 160, 0.484);
    border: 1.5px solid cadetblue;
    border-radius: 5px;
    font-size: 14px;
    font-weight: 600;
    color: #fff;
    transition: all 200ms ease;
}

.get-location .btn-1 button:hover {
    background-color: cadetblue;
    color: #fff;
    cursor: pointer;
}

.get-location .result {
    padding-block: 30px;
    border: 1px solid red;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.drag-drop {
    width: 70%;
    height: fit-content;
    background-color: #fff;
    border: 1px solid darkgrey;
    border-radius: 10px;
    box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.44);
    margin-block: 30px;
}

#div1 {
    width: 100%;
    height: 200px;
    border: 1.4px solid cadetblue;
    padding-block: 20px;
    margin-block: 20px;
}

.image-1 {
    width: 100%;
    border: 1px solid blue;
    display: flex;
    justify-content: center;
    align-items: center;
}

.drag-drop img {
    border: 1px solid;
}